
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thank You</title>
</head>
<body>
    <div>
       <h2>@ViewData["message"]</h2> 
        @Html.ActionLink("Send another Message", "ContactUs", "Home")
    </div>
</body>
</html>
